<div class="container">
  <!-- title section -->
  <div class="title">
    <h1>Project Details</h1>
    <h3>a summary of what I can do</h3>
  </div>
  <!-- projects section -->
  <div class="flex-projects">
    <% data.products.each do |product| %>
      <div class="project">
        <!-- image -->
        <div class="project-image" style="background: url(<%= image_path(product.image) %>); background-size: cover;">
          <div class="project-image-links">
            <%= link_to 'View Site', "#{product.url}", id: "project-image-links-url" %>
            <%= link_to 'View Code', "#{product.code}", style: "border: none;" %>
          </div>
        </div>
        <!-- text -->
        <div class="project-text">
          <h3><%= product.name %></h3>
          <p><%= product.description %></p>
          <div class="project-text-bottom">
            <!-- tags -->
            <div class="project-text-tags">
              <% product.tags.each do |tag| %>
                <span><i class="<%= tag %>"></i></span>
              <% end %>
            </div>
            <!-- roles -->
            <div class="btn btn-transparent" style="cursor: auto;">
              <%= product.roles %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>